.portfolio_link a, .svg-arrow, .navigation li, h1 {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.quote__description, .content__description, .portfolio__description, .serv__description, .services__description, h5, h3, h1 {
  font-family: "Lato-regular", sans-serif;
}

.hamburger__line, .hamburger :after, .hamburger :before {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  height: 3px;
  content: "";
  width: 100%;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: "Lato-regular", "Verdana", sans-serif;
}

h1 {
  letter-spacing: -0.03em;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3rem;
  color: #fff;
  text-transform: uppercase;
  padding: 34px 0 30px 0;
  margin: 0;
}
h1:hover {
  color: #f06c64;
}
h1 span {
  color: #f06c64;
  font-weight: 500;
}

h1 {
  display: inline-block;
}
@media (max-width: 320px) {
  h1 {
    margin-left: 36px;
  }
}
@media (max-width: 375px) {
  h1 {
    margin-left: 60px;
  }
}

h3 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.6rem;
  margin: 0;
  padding-top: 60px;
  color: #666d89;
}

h5 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.8rem;
  margin: 0;
  color: #666d89;
}

@media (max-width: 320px) {
  p {
    text-align: justify;
  }
}

.hamburger {
  display: none;
  position: relative;
  width: 25px;
  height: 20px;
}
@media (max-width: 320px) {
  .hamburger {
    display: inline-block;
  }
}
@media (max-width: 375px) {
  .hamburger {
    display: inline-block;
  }
}
@media (max-width: 414px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger :before {
  top: 8px;
  left: 0;
}
.hamburger :after {
  bottom: 8px;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.wrapper {
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 320px) {
  .wrapper {
    padding: 0 16px;
  }
}

.header {
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  display: inline-block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 42px 0 34px 0;
  color: #fff;
  width: 370px;
  margin: 0;
}
.navigation li {
  font-family: "Lato-regular";
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: -3.5%;
}
.navigation li:hover {
  color: #f06c64;
}
@media (max-width: 320px) {
  .navigation {
    display: none;
  }
}
@media (max-width: 375px) {
  .navigation {
    display: none;
  }
}
@media (max-width: 414px) {
  .navigation {
    display: none;
  }
}

.slider {
  background: #f06c64;
}

.slider__wrapper {
  position: relative;
  border-bottom: 6px solid #ea676b;
}

.slider__button {
  background: transparent;
  border: none;
  position: absolute;
  top: 47%;
  padding: 0;
  transform: translate(0, -50);
  -webkit-transform: translate(0, -50);
  -moz-transform: translate(0, -50);
  -ms-transform: translate(0, -50);
  -o-transform: translate(0, -50);
}

.phone-vertical {
  margin-left: 60px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .phone-vertical {
    width: 200px;
    height: 364px;
  }
}
@media (max-width: 320px) {
  .phone-vertical {
    width: 68px;
    height: 125px;
    margin-left: 15px;
    margin-top: 60px;
  }
}
@media (max-width: 375px) {
  .phone-vertical {
    width: 81px;
    height: 153px;
    margin: 46px 0 0 84px;
  }
}

.phone-horizontal {
  margin-left: 58px;
  margin-bottom: 112px;
}
@media (max-width: 768px) {
  .phone-horizontal {
    width: 387px;
    height: 189px;
    margin-left: -30px;
  }
}
@media (max-width: 320px) {
  .phone-horizontal {
    width: 131px;
    height: 69px;
    margin: 0;
    margin-bottom: 24px;
  }
}
@media (max-width: 375px) {
  .phone-horizontal {
    width: 157px;
    height: 84px;
    margin: 0 52px 34px;
  }
}

.slider-svg {
  cursor: pointer;
}

.slider-svg:hover .svg-arrow {
  fill: #5e0303;
}

.slider1 {
  padding-bottom: 48px;
}

.right {
  right: 38px;
}
@media (max-width: 320px) {
  .right {
    right: 20px;
  }
}

.services {
  background: #f2f2f2;
  border-bottom: solid 6px #fff;
}

.services__wrapper {
  padding-bottom: 30px;
}

.services__description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  color: #767e9e;
}

.services__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 28px;
}
.services__item > * {
  flex-basis: 32%;
}
.services__item > * {
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .services__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services__item > * {
    flex-basis: 100%;
  }
}

.serv {
  display: flex;
}

.serv img {
  height: 60px;
}
.serv p {
  text-align: justify;
}

.serv__description {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2rem;
  color: #767e9e;
}

.specification {
  padding-left: 22px;
}
@media (max-width: 320px) {
  .specification {
    width: 150px;
  }
}
@media (max-width: 375px) {
  .specification {
    width: 200px;
  }
}

.portfolio {
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  color: #767e9e;
  margin: 17px 0 18px;
}

.portfolio_link {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0 2px 18px;
}
@media (max-width: 320px) {
  .portfolio_link {
    display: block;
  }
}
@media (max-width: 375px) {
  .portfolio_link {
    display: block;
  }
}
.portfolio_link li {
  margin: 0 10px 0 0;
}
@media (max-width: 320px) {
  .portfolio_link li {
    margin-bottom: 8px;
  }
}
@media (max-width: 375px) {
  .portfolio_link li {
    margin-bottom: 8px;
  }
}
.portfolio_link li a {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2rem;
  color: #767e9e;
  text-decoration: none;
  vertical-align: top;
  border: 1px solid #767e9e;
  border-radius: 6px;
  padding: 3px 6px 2px;
}
.portfolio_link li a:hover {
  color: #fff;
  border-color: #fff;
}

.portfolio__img {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 23px 24px;
  padding-bottom: 69px;
}
.portfolio__img img {
  width: 100%;
}
@media (max-width: 768px) {
  .portfolio__img {
    grid-template-columns: 326px 326px;
  }
}
@media (max-width: 414px) {
  .portfolio__img {
    grid-template-columns: 320px;
  }
}
@media (max-width: 320px) {
  .portfolio__img {
    grid-template-columns: 220px;
    gap: 4px 4px;
  }
  .portfolio__img img {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .portfolio__img {
    grid-template-columns: 278px;
    grid-template-rows: auto;
  }
  .portfolio__img img {
    width: 100%;
  }
}

.about {
  background: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.about__description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  color: #767e9e;
  padding-bottom: 27px;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 39px;
}
.layout-3-column > * {
  flex-basis: 33%;
}
@media (max-width: 320px) {
  .layout-3-column {
    display: block;
  }
}
@media (max-width: 375px) {
  .layout-3-column {
    display: block;
  }
}
@media (max-width: 414px) {
  .layout-3-column {
    display: block;
  }
}

.about__title {
  padding-bottom: 10px;
}

.about__content {
  margin-right: 10px;
}
@media (max-width: 375px) {
  .about__content {
    display: block;
  }
}

.about__photo {
  width: 100%;
  padding-bottom: 13px;
}
@media (max-width: 375px) {
  .about__photo {
    width: 278px;
    height: 100%;
  }
}

.content__description {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2rem;
  color: #767e9e;
  margin: 0;
}

.social__link {
  display: flex;
  list-style: none;
  padding: 8px 0;
  width: 152px;
  justify-content: space-between;
}

.quote {
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote h3 {
  color: #F0D8D9;
}

.quote__description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  color: #F0D8D9;
  padding-bottom: 24px;
}

.layout-2-colum {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0 22px;
  padding-bottom: 65px;
}
@media (max-width: 768px) {
  .layout-2-colum {
    grid-template-columns: 60% 38%;
  }
}
@media (max-width: 414px) {
  .layout-2-colum {
    grid-template-columns: 314px;
  }
}
@media (max-width: 320px) {
  .layout-2-colum {
    display: block;
  }
}
@media (max-width: 375px) {
  .layout-2-colum {
    display: block;
  }
}

input,
textarea {
  width: 100%;
  background-color: #d6564f;
}

input {
  padding: 11px 0;
  margin: 0 0 16px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
}

textarea {
  height: 180px;
  resize: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  padding: 11px 0;
}

::placeholder {
  padding-left: 14px;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2rem;
  color: #F48C8F;
}

.contact__info-title {
  color: #F0D8D9;
}

.contact__description {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2rem;
  color: #F0D8D9;
}

.contact__info {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2rem;
  list-style: none;
  color: #F0D8D9;
  padding: 0;
}
.contact__info a {
  color: #F0D8D9;
}
.contact__info li i {
  padding-right: 12px;
}

footer {
  background: #2d303a;
  color: #767e9e;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 320px) {
  .footer__wrapper p {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
