$color-section: #666d89;
$color-text: #767e9e;
$color-footer: #f0d8d9;
$color-brand: #f06c64;
$color-background-light: #f2f2f2;
$color-background-dark: #2d303a;
$color-hover: #e94348;
$color-button: #fbc65f;
$color-light: #fff;
$color-border-red: #ea676b;
$color-border-dark: #323746;
$color-quote-text: #F0D8D9;
$color-input: #D6564F;

$content-width: 1020px;

$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
