@mixin font($size, $height: $size, $weight: normal, $style: normal) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
  }

  @mixin text ($size:1.8rem, $height:3rem, $weight:300, $style:normal, $color:$color-text){
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
    color: $color;
  }

 @mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > * {
      flex-basis: $width;
    }
}