%transition {
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

%font {
    font-family: "Lato-regular", sans-serif;
}

%hamburger-line {
    position: absolute;
    background-color: $color-light;
    border-radius: 5px;
    display: inline-block;
    height: 3px;
    content: "";
    width: 100%
}