html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: "Lato-regular", "Verdana", sans-serif;
}

h1 {
  @extend %font;
  letter-spacing: -0.03em;
  @include font($size: 2.5rem, $height: 3rem, $weight: bold);
  color: $color-light;
  text-transform: uppercase;
  padding: 34px 0 30px 0;
  margin: 0;
  &:hover {
    color: $color-brand;
  }
  span {
    color: $color-brand;
    font-weight: 500;
  }
}

h1 {
  @extend %transition;
  display: inline-block;
  @include media-mobile-small {
    margin-left: 36px;
  }
  @include media-mobile-medium {
    margin-left: 60px;
  }
}

h3 {
  @extend %font;
  @include font($size: 3rem, $height: 3.6rem, $weight: 900);
  margin: 0;
  padding-top: 60px;
  color: $color-section;
}

h5 {
  @extend %font;
  @include font($size: 1.8rem, $height: 1.8rem, $weight: 900);
  margin: 0;
  color: $color-section;
}

p {
  @include media-mobile-small {
    text-align: justify;
  }
}
